{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "experimentalTernaries": false,
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "objectWrap": "preserve",
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json",
        "tabWidth": 2
      }
    },
    {
      "files": "**/*.json",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
